.index-page {
  .header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
    color: #fff;
    background: #f04144;
    font-size: 36px;
  }
}
