body {
  margin: 0;
  font-family: PingFangSC-Regular, "Helvetica Neue", sans-serif, 'Microsoft YaHei', Helvetica, STHeiTi, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
