body {
  margin: 0;
  font-family: PingFangSC-Regular, 'Helvetica Neue', sans-serif,
    'Microsoft YaHei', Helvetica, STHeiTi, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol,
ul {
  padding-left: 30px;
}

.game-board {
  margin: 0 auto;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: 1px solid #999;
  float: left;
  font-size: 24px; /* px */
  font-weight: bold;
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin-right: -1px; /* no */
  margin-top: -1px; /* no */
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.game-info {
  margin: 20px auto;
  text-align: center;
}

.game-status {
  margin: 20px auto;
}
